# python
__pycache__/
.pytest_cache/
*.pickle

# python in Nix
.venv/

# logs and results
*.log
*.log.*
PipelineNames.FirstGCNPipeline*.csv

# environment variables
.env

# direnv
.direnv
doc/server/server.env